<!DOCTYPE html>

<html>
<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/robot.png" alt="My pic" class="portrait">
    </div>
    {{>footer}}
</body>

</html>